@media screen and (max-width: 480px) {
    html {
        background-color: orange;
    }
    .logo-div {
        display: flex;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 10px);
        width: 70%;
        height: 40%;
    }
    .logo-div-reset {
        display: flex;
        position: absolute;
        left: 50%;
        top: -16%;
        transform: translate(-50%, -16%);
    }
    .logo-img-register {
        width: 100%;
        margin-top: 10%;
    }
    .x {
        width: 6%;
        margin-left: 88%;
        margin-top: 1px;
    }
    .registration-inputs {
        position: absolute;
        display: flex;
        flex-direction: column;
        transform: translate(-50%, -95%);
        left: 50%;
        top: 88%;
        width: 80%;
        text-align: center;
        color: #30475e;
        align-items: center;
        margin-top: 10%;
    }
    .logo-img-welcome {
        width: 100%;
        margin-top: 10%;
    }
    .inputs-login {
        position: absolute;
        display: flex;
        flex-direction: column;
        transform: translate(-50%, -90%);
        left: 50%;
        top: 90%;
        width: 68%;
        text-align: center;
        color: #30475e;
        align-items: center;
        font-family: "Patua One", cursive;
    }
    .logo-img-after-login {
        width: 50px;
        margin: 10px;
    }
    .profile-pic {
        width: 50px;
        position: absolute;
        height: 50px;
        right: 20px;
        top: 15px;
        border: 1px solid black;
        border-radius: 40px;
    }
    .main-uploader {
        width: 90%;
        height: 17%;
        border: 1px solid black;
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translate(-50%, -30%);
        margin-top: 2%;
        text-align: center;
        border-radius: 20px;
    }
    .edit-profile {
        margin-top: 35px;
        margin-left: 83%;
        cursor: pointer;
        text-align: center;
    }
}
