@media screen and (max-height: 380px) {
    html {
        background-color: white;
    }
    .logo-img-register {
        width: 100%;
        margin-top: 11%;
    }
    .logo-div {
        display: flex;
        position: absolute;
        left: 12%;
        transform: translate(-50%, 0px);
        width: 17%;
    }
    .registration-inputs {
        position: absolute;
        display: flex;
        flex-direction: column;
        transform: translate(-50%, -95%);
        left: 50%;
        top: 88%;
        width: 80%;
        text-align: center;
        color: #30475e;
        align-items: center;
    }
    .img-welcome {
        width: 100%;
        margin-top: 20px;
    }
}
