@media screen and (max-height: 380px) {
    html {
        background-color: red;
    }
    .logo-img-register {
        width: 100%;
        margin-top: 11%;
    }
    .logo-img-welcome {
        margin-bottom: 35%;
    }
    .logo-div {
        display: flex;
        width: 40%;
    }
    .r-header > a {
        display: flex;
        align-items: center;
        text-align: center;
        color: white;
        margin-left: 0px;
        border-right: 1px solid black;
        padding-right: 10px;
        margin: 5px;
    }
    .registration-inputs {
        position: absolute;
        display: flex;
        flex-direction: column;
        transform: translate(-50%, -95%);
        left: 50%;
        top: 87%;
        height: 50%;
        width: 80%;
        text-align: center;
        color: #30475e;
        align-items: center;
    }
    .img-welcome {
        width: 100%;
        margin-top: 20px;
    }
    .main-uploader {
        width: 60%;
        height: 40%;
        border: 1px solid black;
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translate(-50%, 10px);
        text-align: center;
        border-radius: 20px;
    }
    .inputs-login {
        position: absolute;
        display: flex;
        flex-direction: column;
        transform: translate(-50%, -95%);
        left: 50%;
        top: 95%;
        width: 100%;
        text-align: center;
        color: #30475e;
        align-items: center;
        font-family: "Patua One", cursive;
    }
    .profile-pic-div {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .profile-pic-div > p,
    .l-header {
        display: none;
    }
    .profile {
        width: 80%;
        display: flex;
        border: 2px solid #0000008c;
        flex-direction: column;
        text-align: center;
        align-items: center;
        border-radius: 20px;
        margin-left: 25px;
        margin-top: 10px;
        box-shadow: 5px 5px 10px 1px black;
        height: fit-content;
    }
    .profile-and-bio {
        display: flex;
        flex-direction: column;
        width: 30%;
    }

    .profile-pic-big {
        width: 50%;
        left: 30px;
        height: 50%;
    }
    .profile-pic {
        margin-right: 10px;
    }
    .accepted-friends {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .smallpics {
        display: flex;
        border: 2px solid #0000008c;
        flex-direction: column;
        text-align: center;
        align-items: center;
        border-radius: 10px;
        margin-left: 24px;
        width: 180px;
        width: 80%;
        margin-top: 20px;
        box-shadow: 5px 5px 10px 1px black;
        height: fit-content;
        height: -moz-fit-content;
    }
    .chat {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 10px;
        width: fit-content;
    }
}
