html {
    box-sizing: border-box;
    background-color: #03a9f42e;
    /* border: 8px solid #30475e; */
    margin: 0;
}

body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    box-shadow: 0 8px 6px -6px black;
    background-color: #d1effd;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    font-family: "Patua One", cursive;
    width: 150px;
    height: 20px;
    margin-bottom: 10px;
}

p {
    font-family: "Patua One", cursive;
    margin: 0;
}

h1,
h2 {
    text-align: center;
}

button {
    text-align: center;
    font-family: "Patua One", cursive;
    background: transparent;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0 8px 6px -6px black;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.chat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat-pic {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    margin-right: 5px;
}

.chat-container {
    height: 300px;
    width: 504px;
    overflow-y: scroll;
    border: 1px solid black;
    margin-bottom: 32px;
    border-radius: 10px;
    padding: 5px;
}

.connected-users {
    width: 140px;
    transform: translate(-440px, -250px);
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.cancelBtn {
    text-decoration: none;
    color: black;
}

.dropdown {
    height: 47px;
}

.text-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.newsdiv {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.allnewsmain {
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.allnews {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 500px;
    overflow: scroll;
    margin-top: 10px;
    border-radius: 20px;
    width: 300px;
    padding: 10px;
}

.news {
    width: 300px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    text-align: center;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: arial;
    /* background-color: none; */
}

ul li {
    float: left;
    width: 90px;
    height: 40px;
    opacity: 0.8;
    line-height: 40px;
    text-align: center;
    font-size: 15px;
}

ul li a {
    border-bottom: 1px solid black;
    text-decoration: none;
    color: white;
    display: block;
    cursor: pointer;
}

/* ul li a:hover {
    background-color: green;
} */

ul li ul li {
    display: none;
}

ul li:hover ul li {
    display: block;
    background-color: #706c61;
    /* opacity: 70%; */
}

button:hover {
    background-color: #30475e;
    color: white;
}

.header {
    height: 55px;
    width: 100%;
    border-bottom: 1px solid black;
    background-color: #2196f336;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.l-header {
    width: 50%;
}

.r-header {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    align-items: center;
}

.smallpics {
    display: flex;
    border: 2px solid #0000008c;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-left: 5%;
    border-radius: 10px;
    width: 180px;
    margin-top: 20px;
    height: fit-content;
    height: -moz-fit-content;
}

.small-pictures-album {
    height: 70px;
    margin: 5px;
    width: 70px;
}

.profile-main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
}

.chat-msgs {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    margin-bottom: 5px;
}

.first-last-chat {
    font-family: "Patua One", cursive;
    color: red;
    text-decoration: underline;
    font-weight: bold;
}

.otheruser-chat {
    width: 100%;
    background: #6bd1ffa6;
    word-break: break-all;
}

.me-chat {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    background: #2196f336;
    word-break: break-all;
}

.friends-main {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.friends-approved,
.wannabe-friend {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 20px;
    background-color: #2196f336;
}

.accepted-friends {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.friendsWannabes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.friends-pic {
    width: 100px;
    height: 150px;
    margin-top: 5px;
}

.main-profile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.loading-gif-uploader {
    width: 120px;
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -48%);
}

.loading-gif-pictures {
    left: 50%;
    width: 120px;
    position: absolute;
    top: 25%;
    transform: translate(-50%, -25%);
}

.find-people {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.main {
    width: 100%;
    min-height: 100vh;
}

.main-uploader {
    width: 400px;
    height: 32%;
    border: 1px solid black;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 10px);
    margin-top: 2%;
    text-align: center;
    border-radius: 20px;
    top: 20%;
}

#file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#file + label {
    font-size: 1.25em;
    font-weight: 700;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
    width: 120px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#file + label * {
    pointer-events: none;
}

#file:focus + label,
#file + label:hover {
    background-color: #30475e;
    color: white;
}

#file:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.change-profile-text {
    margin: 0;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 10px);
    width: 270px;
    text-align: center;
}

.x {
    width: 40px;
    margin-left: 88%;
}

.upload-btn {
    margin-bottom: 10px;
    background-color: transparent;
    border: 1px solid black;
    font-family: "Patua One", cursive;
    border-radius: 20px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.upload-btn:hover {
    background-color: #30475e;
    color: white;
}

.profile {
    width: 300px;
    display: flex;
    border: 2px solid #0000008c;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    margin-left: 55px;
    margin-top: 20px;
    height: fit-content;
    height: -moz-fit-content;
}

.all-pictures-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.picture-div {
    width: 250px;
    height: 250px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    margin-bottom: 20px;
    margin: 10px;
    background-color: #2196f336;
}

.full-name-picture {
    margin-bottom: 10px;
}

.fullname-profile {
    border-bottom: 1px solid black;
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
}

.picture-search {
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 40px;
    margin-right: 20px;
}

.profile-pic-big {
    width: 300px;
    left: 30px;
    height: 300px;
}

.BioEditor-from-profile {
    display: flex;
    width: 100%;
}

.otherprofile {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.all-other-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.greets {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0px);
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #30475e;
}

.welcome {
    width: 100%;
    margin: 0;
}

.registration-main-div {
    display: flex;
    width: 100%;
    height: 100%;
}

.logo-div {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 10px);
}

.logo-div-reset {
    display: flex;
    position: absolute;
    left: 50%;
    top: -19%;
    transform: translate(-50%, -19%);
}

.logo-img-welcome {
    width: 350px;
    margin-top: 50px;
}

.logo-img-register {
    width: 190px;
    margin-top: 20px;
}

.logo-img-after-login {
    width: 50px;
    margin: 10px;
    height: 40px;
}

.registration-inputs,
.inputs-login {
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -95%);
    left: 50%;
    top: 95%;
    width: 35%;
    text-align: center;
    color: #30475e;
    align-items: center;
    font-family: "Patua One", cursive;
}

.submit-btn-register {
    width: 90px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.submit-btn-register:hover {
    background-color: #30475e;
    color: white;
}

.unfriend-btn:hover {
    background-color: red;
    color: white;
}

.loading-gif {
    width: 140px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.error {
    color: red;
    animation-name: angry-animation;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    position: absolute;
    top: -30%;
    width: 100%;
    text-align: center;
}

.error-register {
    color: red;
    animation-name: angry-animation;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    position: absolute;
    top: -40px;
    width: 100%;
    text-align: center;
}

.error-upload {
    color: red;
    animation-name: angry-animation;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
}

.error-upload-pictures {
    color: red;
    animation-name: angry-animation;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
}

.bio {
    width: 100%;
    height: 100px;
    background-color: transparent;
}

.textarea {
    width: 99%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textarea-chat {
    outline: none;
    resize: none;
    width: 520px;
    border-radius: 20px;
    height: 149px;
    margin: 0px;
    background: transparent;
    text-align: center;
    transform: translate(0px, -80px);
}

.bio-div {
    align-items: center;
    left: 30px;
    top: 340px;
    display: flex;
    width: 300px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

.bio-text {
    border-bottom: 1px solid black;
    width: 100%;
    word-break: break-word;
}

.edit-in-bio {
    text-decoration: underline;
    width: 90%;
    padding-bottom: 5px;
}

.add-in-bio {
    height: 50px;
    width: 100%;
    border-top: 1px solid black;
}

.pictures {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.album-sub-main-div {
    margin-top: 50px;
}

.pictures-album {
    width: 250px;
    height: 200px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 60px;
    background-color: #2196f336;
}

.edit-inputs {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    top: 50%;
    border: 1px solid black;
    padding: 20px;
    border-radius: 40px;
}

.edit-profile > p {
    text-decoration: underline;
    text-align: center;
    font-size: 30px;
    margin-top: 5%;
}

.save {
    border-radius: 10px;
    width: 80px;
    height: 25px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.save:hover {
    background-color: #30475e;
    color: white;
}

.other-user-profile-pic {
    width: 300px;
    height: 300px;
}

.other-user-info {
    font-size: 20px;
}

.reset {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -90%);
    text-align: center;
    font-family: "Patua One", cursive;
}

.robotmain {
    position: relative;
    top: -25px;
}

.robot {
    position: absolute;
    top: 121px;
    left: 37px;
}

@keyframes angry-animation {
    0% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    5% {
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    10% {
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
    }
    15% {
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20% {
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
    }
    25% {
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    30% {
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
    }
    35% {
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    40% {
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
    }
    45% {
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    50% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}
